<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Rechercher</mat-label>
    <input matInput [formControl]="search">
  </mat-form-field>
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols || 1" [rowspan]="card.rows || 1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{card.text}}</div>
          <br><br>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Commentaires
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container *ngFor="let comment of postComments | async">
                <p *ngIf="comment.postId == card.id" style="text-align: left;">
                    <button mat-mini-fab color="warn" (click)="delete(comment.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  {{ comment.text }}
                </p>
              </ng-container>
              <p style="text-align: left;">
                <mat-form-field>
                  <mat-label>Commenter</mat-label>
                  <input matInput  [(ngModel)]="card.draft">
                </mat-form-field>
                <button mat-mini-fab
                  color="success"
                  (click)="add({postId: card.id, text: card.draft}); card.draft = ''">
                  <mat-icon>add</mat-icon>
                </button>
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
